* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  --font-family-asap: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-family-asap);
  --title-md: 700 24px/120% var(--font-family-asap);
  --title-sm: 700 16px/120% var(--font-family-asap);

  --font-family-inconsolata: "Inconsolata", monospace;
  --subtitle: 400 20px/120% var(--font-family-inconsolata);

  --font-family-maven: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-family-maven);
  --text-sm: 400 14px/140% var(--font-family-maven);

  --bg-intro: url(/assets/Background_Intro.png);
  --bg-project: url(--gray-400);
}

#container {
  width: 100%;
  max-width: 1366px;
}

#info {
  display: block;
  align-items: center;
}

#avatar {
  width: 112px;
  margin: auto;
  padding-bottom: 56px;
}

#tags img {
  width: 24px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 8px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--gray-400);
    height: 40px;
    border-radius: 999px;
    padding: 16px;
    margin-bottom: 94px;

    span {
      font: var(--text-md);
      color: var(--gray-200);
    }
  }
}
