#intro {
  text-align: center;
  background: no-repeat top center/cover var(--bg-intro);
  width: 100%;
  place-content: center;
  padding: 120px 163px 0 163px;
}
#projects {
  background: no-repeat top center/cover var(--gray-500);
  width: 100%;
  padding: 72px 120px 144px 120px;

  img {
    width: 306px;
  }

  a:hover {
    border: 1px solid var(--gray-300);
    border-radius: 12px;
  }
}

#services {
  background: no-repeat top center/cover var(--gray-600);
  width: 100%;
  height: 480px;
  padding: 88px 120px 120px 120px;

  img {
    width: 280px;
  }
}

#contacts {
  header {
    text-align: center;
  }

  background: no-repeat top center/cover var(--bg-contacts);
  width: 100%;
  place-content: center;
  padding: 128px 120px 200px 120px;

  h2 {
    padding-block: 8px;
  }
  a {
    text-decoration: none;
  }
}
