.subtitle {
  font: var(--subtitle);
  color: var(--gray-200);

  span {
    color: var(--red);
  }
}

#info h1 {
  font: var(--title-lg);
  color: var(--gray-100);
  padding-block: 8px 20px;
}

#info p {
  font: var(--text-sm);
  color: var(--gray-300);
}

.title {
  font: var(--title-md);
  color: var(--gray-100);
}
.titleSm {
  font: var(--title-sm);
  color: var(--gray-200);
}

.textSm {
  font: var(--text-sm);
  color: var(--gray-200);
}

.grid {
  margin: auto;
  display: grid;
  max-width: 1040px;
  margin-top: 56px;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

#projects .card {
  width: 330px;
  border-radius: 12px;
  background-color: var(--gray-400);
  padding: 12px;

  img {
    border-radius: 8px;
  }
  header {
    padding: 17px 0 8px;
  }
  p {
    padding-bottom: 17px;
  }
}

#services .card {
  width: 330px;
  border-radius: 12px;
  border: 1px solid var(--gray-400);
  padding: 12px;

  img {
    border-radius: 8px;
    width: 48px;
  }
  header {
    padding: 17px 0 8px;
  }
  p {
    padding-bottom: 17px;
  }
}
